.present__photo {
width: 100%;
object-fit: cover; /* картинка искажаться не будет*/
margin-bottom: 20px;
}

.present__group-title {
    margin-bottom: 18px;

}

.present__title {
    margin-bottom: 10px;
    font-weight: 700; /*вместо bold пишем 700*/
font-size: 34px;
line-height: 120%;
text-transform: uppercase;

}

.present__subtitle {
    font-weight: 700;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;

}

.present__description {
    margin-bottom: 20px;
font-size: 14px;
line-height: 140%;

}
.
.present__order-btn {
    padding: 16px 60px;
    background-color: #E87C40;
    border-radius: 4px;
    
font-size: 14px;
line-height: 140%;
text-transform: uppercase;
color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

}
